.company-logo img {
    margin-top: 1rem;
    width: auto;
    height: 3rem;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }